{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block contents %} 
<h1>Login Page</h1>

<form method="post" style="width: 50%; margin:auto" novalidate>
  {% csrf_token %}
  <!-- {{ form | crispy }} -->
  {% if  form.non_field_errors %}
    {% for er in form.non_field_errors %}
      <p class="text-danger" >{{er}}</p>
    {% endfor %}
  {% endif %}


  {% for fm in form %}
      {{fm.label_tag}}
      {{fm}}
      {{fm.errors|striptags}}
  {% endfor %}
  
  <button class="text-center btn btn-primary m-3" type="submit" >LogIn</button>
</form>

{% endblock %}