{% extends "base.html" %}
{% block title %} Form Page {% endblock %}

{% block content %} 
<div style="width: 50%; height: auto; margin: auto;" class="pt-5">
    <form method="post" action="/about/"> 
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input name="username"  required
                type="text" class="form-control" id="exampleInputName" aria-describedby="namelHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input name="email" required
                type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <select name="select" class="form-select mb-3" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

<h1>Name: {{ name }}</h1>
<h1 class="mb-3">Email: {{ email }}</h1>
{% endblock %}