{% extends "base.html" %}

{% block content %}

<h1 class="text-[34px] font-bold mb-3">Book Details</h1>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    {% if data %}
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th class="px-6 py-3 text-center"> Product ID </th>
                <th class="px-6 py-3 text-center"> Book Name </th>
                <th class="px-6 py-3 text-center"> Author Name </th>
                <th class="px-6 py-3 text-center"> Category </th>
                <th class="px-6 py-3 text-center"> First Publication </th>
                <th class="px-6 py-3 text-center"> Last Publication </th>
                <th class="px-6 py-3 text-center"> Action </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                    {{ data.id }}
                </th>
                <td class="px-6 py-4 text-center">
                    {{ data.book_name }}
                </td>
                <td class="px-6 py-4 text-center">
                    {{ data.author }}
                </td>
                <td class="px-6 py-4 text-center">
                    {{ data.category }}
                </td>
                <td class="px-6 py-4 text-center">
                    {{ data.first_pub }}
                </td>
                <td class="px-6 py-4 text-center">
                    {{ data.last_pub }}
                </td>
                <td class="px-6 py-4 text-center">
                    <div class="text-center">
                        <a href="{% url 'edit_book' pk=data.id %}" type="button" class="focus:outline-none text-xs text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">Edit</a>
                        <button type="button" onclick="confirmDelete('{{ data.id }}', '{% url 'delete_book' pk=data.id %}')" class="focus:outline-none text-xs text-white bg-red-400 hover:bg-red-500 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-red-900">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    {% else %}
    <p>Book Details not available</p>
    {% endif %}
</div>

<script>
    function confirmDelete(id, editUrl) {
        var userInput = prompt("Please confirm deletion by typing 'YES'");
        if (userInput !== null && userInput.toUpperCase() === 'YES') {
            window.location.href = editUrl;
        } else {
            alert("Deletion canceled. No action taken.");
        }
    }
</script>

{% endblock content %}
